$theme-color: #FF4500;
$bg-primary: #f8f8f8;
$text-primary: #171717;
$box-shadow-primary: 0 2px 8px 0 rgba(7, 17, 27, 0.1);
$box-shadow-secondary: 0 4px 8px 0 rgba(7, 17, 27, 0.1);
.x-views-container-bg-light {
    background-color: #fff;
    width: 100%;
    box-shadow: $box-shadow-primary;
}

.x-views-container-bg-dark {
    width: 100%;
}

.x-views-section {
    padding: 40px 0;
    width: 1366px;
    margin: auto;
}

.x-views-main {
    display: flex;
    justify-content: space-between;
}